.reviews {
  background-color: #314443;
  width: 100vw;
}

.container {
  width: 100vw;
  min-height: 33vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 2rem auto;
}

.container h2 {
  text-transform: uppercase;
}
.underline {
  width: 5rem;
  height: 0.15rem;
  margin-bottom: 1.25rem;
  background: #e4f1f1;
  margin-left: auto;
  margin-right: auto;
}

.reviewitems {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 35rem;
  height: 100%;
  margin: 2rem;
  padding-bottom: 1rem;
}

.item {
  padding: 0.5rem;
  text-align: justify;
}

.item q {
  font-size: 1.5rem;
}

.content {
  text-align: left;
  line-height: 1.5;
  color: azure;
  margin: 0;
}

.authorunderline {
  width: 2rem;
  height: 0.15rem;
  background: #e4f1f1;
}

.btn {
  text-transform: uppercase;
}
