.details {
  background-color: #314443;
  width: 100vw;
}

.container {
  width: 100vw;
  min-height: 33vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 2rem auto;
}

.container h2 {
  text-transform: uppercase;
}
.underline {
  width: 5rem;
  height: 0.15rem;
  margin-bottom: 1.25rem;
  background: #e4f1f1;
  margin-left: auto;
  margin-right: auto;
}

.detailitems {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25rem;
  height: 100%;
  margin: 2rem ;
  padding-bottom: 1rem;
}

.imgcontainer {
  position: relative;
  width: 25rem;
  height: 20rem;
  margin: 1rem;
}
.text {
  color: azure;
  padding: 1rem;
}
