.about {
  width: 100vw;
  background-color: #e4f1f1;
}

.wrapper {
    width: 90vw;
    min-height: 33vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 2rem auto;
}

.wrapper h2 {
    color: #414141;
}
.underline {
  width: 5rem;
  height: 0.15rem;
  margin-bottom: 1.25rem;
  background: #414141;
  margin-left: auto;
  margin-right: auto;
}

.description {
  text-align: center;
  color: #bd9b60;
}

.btn {
  text-transform: uppercase;
}